node-red-vanilla-example-flow.json
[
  {
    "id": "a6e40e43.594ec",
    "type": "tab",
    "label": "Flow 1"
  },
  {
    "id": "8b4e6a8.0cd6798",
    "type": "http request",
    "z": "a6e40e43.594ec",
    "name": "HttpRequest",
    "method": "use",
    "ret": "txt",
    "url": "",
    "tls": "",
    "x": 710,
    "y": 100,
    "wires": [
      [
        "dc72ee90.2d216"
      ]
    ]
  },
  {
    "id": "dc72ee90.2d216",
    "type": "debug",
    "z": "a6e40e43.594ec",
    "name": "",
    "active": true,
    "console": "true",
    "complete": "true",
    "x": 894,
    "y": 100,
    "wires": []
  },
  {
    "id": "321ee9b1.ae8346",
    "type": "inject",
    "z": "a6e40e43.594ec",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 328,
    "y": 100,
    "wires": [
      [
        "e51b6dc0.0945"
      ]
    ]
  },
  {
    "id": "e51b6dc0.0945",
    "type": "function",
    "z": "a6e40e43.594ec",
    "name": "RegaMessage",
    "func": "var script = \"var d = dom.GetObject(\\\"BidCos-RF.LEQ0990753:1.LEVEL\\\");if (d){d.State(\\\"0\\\");}\";\nvar headers = {};\nheaders[\"Content-Length\"] = script.length;\nheaders[\"Content-Type\"] = \"application/x-www-form-urlencoded\";\nmsg.headers = headers;\nmsg.method = \"POST\";\nmsg.url = \"http://20.1.0.50/tclrega.exe\";\nmsg.payload = script;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 512,
    "y": 100,
    "wires": [
      [
        "8b4e6a8.0cd6798"
      ]
    ]
  }
]