examples/node-red-contrib-homematic-example-flow.json
[
  {
    "id": "a6e40e43.594ec",
    "type": "tab",
    "label": "Flow 1"
  },
  {
    "id": "8b4e6a8.0cd6798",
    "type": "http request",
    "z": "a6e40e43.594ec",
    "name": "HttpRequest",
    "method": "use",
    "ret": "txt",
    "url": "",
    "tls": "",
    "x": 710,
    "y": 100,
    "wires": [
      [
        "dc72ee90.2d216"
      ]
    ]
  },
  {
    "id": "dc72ee90.2d216",
    "type": "debug",
    "z": "a6e40e43.594ec",
    "name": "",
    "active": true,
    "console": "true",
    "complete": "true",
    "x": 894,
    "y": 100,
    "wires": []
  },
  {
    "id": "321ee9b1.ae8346",
    "type": "inject",
    "z": "a6e40e43.594ec",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 328,
    "y": 100,
    "wires": [
      [
        "113cf072.c0a8b"
      ]
    ]
  },
  {
    "id": "113cf072.c0a8b",
    "type": "homematic",
    "z": "a6e40e43.594ec",
    "ccu": "a5e1cbde.440338",
    "function": "setValue",
    "channel": "LEQ0990753:1",
    "attribute": "LEVEL",
    "value": "100",
    "nodeName": "Switch Light On",
    "x": 510,
    "y": 100,
    "wires": [
      [
        "8b4e6a8.0cd6798"
      ]
    ]
  },
  {
    "id": "a5e1cbde.440338",
    "type": "homematic-config",
    "z": "",
    "host": "20.1.0.50",
    "interfaceName": "BidCos-RF."
  }
]